
<div id="loginBlock">
    <input type="text" id="nameInput" placeholder="Name" />
    <button class="btn btn-info" onclick="login()">Lets Play</button>
</div>

<div id="logoutBlock">
    <div>
        <label id="nameLabel"></label>
        <button class="btn btn-danger" id="logoutBtn" onclick="logout()">Logout</button>
    </div>
    <button class="btn btn-success createTableBtn" onclick="createTable()">Create Table</button>
</div>


<div id="tablesContainer">
    <div id="tables">
    </div>
</div>


<div id="main" class="hidden">
    <label id="currentGame_Info_timer"></label>
    <div id="currentGame__Info">
        <label id="currentGame_Info_gameStatus"></label>
        <label id="currentGame_Info_playerRole"></label>  
    </div>

    <button id="startGame" class="btn btn-info hidden" onclick="startGame()">Start Game</button>
    <div id="yourPlayer"></div>
    <div id="playingCardsContainer">
        <div id="playingCards"></div>
        <div class="playingCards__actions">
            <button id="playingCards_btn_attack" class="btn btn-light hidden" onclick="makeAMove()">Attack</button>
            <button id="playingCards_btn_defend" class="btn btn-light hidden" onclick="defend()">Defend</button>
            <button id="playingCards_btn_surrender" class="btn btn-light hidden" onclick="surrender()">Surrender</button>
            <button id="playingCards_btn_endRound" class="btn btn-light hidden" onclick="endRound()">End Round</button>
        </div> 
    </div>
    <div id="field"></div>
    <div id="deck"></div>
    <div id="players"></div>
</div>




<div class="hidden">
    <div class="playingCard">
        <div class="playingCard__info">
            <label class="playingCard_info_rank">6</label>
            <label class="playingCard_info_suit">♦</label>
        </div>
        <label class="playingCard_info_largeSuit"></label>
    </div>
    <div class="defendingCard">
        <div class="playingCard__info">
            <label class="playingCard_info_rank">6</label>
            <label class="playingCard_info_suit">♦</label>
        </div>
        <label class="playingCard_info_largeSuit"></label>
    </div>
    <div class="deck_card_shirt">
        <label class="deck_card_number"></label>
    </div>
    <div class="playingTable">
        <button class="btn btn-dark playingTable__btn" onclick="sitToTheTableClick(this)">Sit Here</button>
    </div>
    <div class="player">
        <img class="player__img" src="/images/player.png" />
        <label class="player__name"></label>
        <div class="player__cards">
            <div class="player__card"></div>
        </div>
    </div>
    <div class="meAsPlayer">
        <img class="player__img" src="/images/player.png" />
        <label class="player__name"></label>
    </div>
</div>



<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/events/chat.js"></script>
<script src="~/js/events/game.js"></script>
<script src="~/js/gameUI.js"></script>


<style>
    .hidden {
        display: none !important;
    }

    #logoutBlock {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #tablesContainer {
        margin-top: 4rem;
    }

    #tables {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
    }


    #main {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #currentGame__Info {
        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
    }

    #yourPlayer {
        margin-top: 1rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .playingTable {
        position: relative;
        min-height: 10rem;
        min-width: 10rem;
        border: 1px solid rgba(0,0,0,.125);
        background-color: #fff;
        border-radius: 5rem;
    }

        .playingTable.active {
            border-color: rgba(0,0,0,.5); /* Darker border */
            background-color: #f0f0f0; /* Slightly different background color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
        }

    .playingTable__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 29%;
        padding: 0.30rem 0.6rem;
        font-size: 0.7rem;
    }

    .playingTable_player_name {
        display: block;
        margin: 1rem 0 0 1.7rem;
        display: block;
        font-size: 0.6rem;
    }

    #field {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        flex-wrap: wrap;
    }

    #deck {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }


    #playingCardsContainer {
        margin-top: 1rem;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #playingCards {
        margin-bottom: 1rem;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.2rem;
        flex-wrap: wrap;
    }

    .playingCards__actions {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.5rem;
    }

    .playingCard {
        position: relative;
        z-index: 0;
        min-width: 3rem;
        min-height: 6rem;
        border: 1px solid rgba(0,0,0,.125);
        background-color: #fff;
        border-radius: .25rem;
    }

    .defendingCard {
        margin-top: 2rem;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 3rem;
        height: 6rem;
        border: 1px solid rgba(0,0,0,.125);
        background-color: #fff;
        border-radius: .25rem;
    }


    .playingCard.active {
        width: 3.5rem; /* Increase width */
        height: 7rem; /* Increase height */
        border-color: rgba(0,0,0,.5); /* Darker border */
        background-color: #f0f0f0; /* Slightly different background color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    }

    .playingCard__info {
        margin-left: .2rem;
        width: 100%;
        max-height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .playingCard_info_rank {
        display: block;
        font-size: 1.0rem;
        font-weight: 500;
    }

    .playingCard_info_suit {
        padding-right: .3rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .playingCard_info_largeSuit {
        margin-top: 0.4rem;
        font-size: 2.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .deck_card_shirt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 3rem;
        border: 1px solid rgba(0,0,0,.125);
        background: repeating-linear-gradient( 45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        border-radius: .25rem;
    }

    .deck_card_number {
        margin: auto;
        width: 100%;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
    }


    #players {
        margin: 3rem 0 2rem 0;
        text-align: center;
    }

    .player {
        margin: 2rem 0;
        width: 100%;
    }

    .player__img {
        width: 64px;
        height: 64px;
    }

    .player__name {
        display: block;
        font-size: 0.7rem;
        font-weight: 500;
        max-width: 100px;
        text-overflow: clip;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }

    .player__cards {
        margin-top: 0.5rem;
        display: flex;
    }

    .player__card {
        margin-left: -.2rem;
        display: inline-block;
        width: 0.7rem;
        height: 3rem;
        border: 1px solid rgba(0,0,0,.125);
        background: repeating-linear-gradient( 45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        border-radius: .25rem;
    }

        .player__card:last-child {
            width: 1.4rem;
        }

    .player.active .player__img {
        border: 2px solid blue;
    }
</style>