
<div id="loginBlock">
    <input type="text" id="nameInput" placeholder="Name" />
    <button class="btn btn-info" onclick="login()">Lets Play</button>
</div>

<div id="logoutBlock">
    <div>
        <label id="nameLabel"></label>
        <button class="btn btn-danger" id="logoutBtn" onclick="logout()">Logout</button>
    </div>
    <button class="btn btn-success createTableBtn" onclick="createTable()">Create Table</button>
</div>


<div id="tablesContainer">
    <div id="tables">
    </div>
</div>


<div id="main" class="hidden">

    <div id="currentGame__Info">
        <label id="currentGame_Info_gameStatus"></label>
        <label id="currentGame_Info_playerRole"></label>  
    </div>

    <button id="startGame" class="btn btn-info hidden" onclick="startGame()">Start Game</button>
    <div id="yourPlayer"></div>
    <div id="playingCardsContainer">
        <div id="playingCards"></div>
        <div class="playingCards__actions">
            <button id="playingCards_btn_attack" class="btn btn-light hidden" onclick="makeAMove()">Attack</button>
            <button id="playingCards_btn_defend" class="btn btn-light hidden" onclick="defend()">Defend</button>
            <button id="playingCards_btn_surrender" class="btn btn-light hidden" onclick="surrender()">Surrender</button>
            <button id="playingCards_btn_endRound" class="btn btn-light hidden" onclick="endRound()">End Round</button>
        </div> 
    </div>
    <div id="field"></div>
    <div id="deck"></div>
    <div id="players"></div>
</div>




<div class="hidden">
    <div class="playingCard">
        <div class="playingCard__info">
            <label class="playingCard_info_rank">6</label>
            <label class="playingCard_info_suit">♦</label>
        </div>
        <label class="playingCard_info_largeSuit"></label>
    </div>
    <div class="defendingCard">
        <div class="playingCard__info">
            <label class="playingCard_info_rank">6</label>
            <label class="playingCard_info_suit">♦</label>
        </div>
        <label class="playingCard_info_largeSuit"></label>
    </div>
    <div class="deck_card_shirt">
        <label class="deck_card_number"></label>
    </div>
    <div class="playingTable">
        <button class="btn btn-dark playingTable__btn" onclick="sitToTheTableClick(this)">Sit Here</button>
    </div>
    <div class="player">
        <label class="player__timer__attacking"></label>
        <img class="player__img" src="/images/player.png" />
        <label class="player__name"></label>
        <div class="player__cards">
            <div class="player__card"></div>
        </div>
    </div>
    <div class="meAsPlayer">
        <label class="player__timer__defending"></label>
        <img class="player__img" src="/images/player.png" />
        <label class="player__name"></label>
    </div>
</div>



<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
