<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\Users\LeonidLobanov\Desktop\Personla\Personal\Fool.Core\logs\${shortdate}\" />
  <targets>
    <target name="system" xsi:type="File" fileName="${logDirectory}/system.log" />
    <target name="custom" xsi:type="File" fileName="${logDirectory}/${logger:shortName=True}.log" />
    <target name="table" xsi:type="File" fileName="${logDirectory}/tables/${event-properties:item=TableId}.log"
            layout="${longdate}|[${level}]|${event-properties:item=PlayerId}||${event-properties:item=PlayerIndex}|${message}"/>
  </targets>
  <rules>
    <logger name="Fool.Core.Fool.Core.Services.TableService" writeTo="table" final="true" />
    <logger name="Fool.Core.Fool.Core.Models.Game" writeTo="table" final="true" />
    <logger name="Fool.Core.*" writeTo="custom" final="true" />
    <logger name="*" levels="Info,Debug,Error" writeTo="system" />
    <!-- <logger name="*" levels="Error" writeTo="email" /> -->
  </rules>
</nlog>